json-to-xml-transformation/src/main/resources/biscuits.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://hcl.biscuits"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="order" type="hcl:orderType" xmlns:hcl="http://hcl.biscuits"/>
    <xs:complexType name="productType">
        <xs:sequence>
            <xs:element name="id" type="xs:integer"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="quantity" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="orderType">
        <xs:sequence>
            <xs:element type="hcl:productType" name="product" maxOccurs="unbounded" minOccurs="0"
                        xmlns:hcl="http://hcl.biscuits"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>