jms-transactions/src/main/resources/addBooking.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddBookingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Currency"/>
        <xs:element type="xs:string" name="BookingReference"/>
        <xs:element type="xs:date" name="BookingDepartureDate"/>
        <xs:element type="xs:string" name="ItemCity"/>
        <xs:element type="xs:string" name="Item"/>
        <xs:element type="xs:date" name="CheckInDate"/>
        <xs:element type="xs:date" name="CheckOutDate"/>
        <xs:element type="xs:byte" name="hotelRooms"/>
        <xs:element type="xs:string" name="ID"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>